.clickerPlace{
    margin: auto;
    background-color: #ba8e8e;
    width: 90%;
}

#cookie{
    margin-left: 20%;
    width: 20%;
}

.footer{
    margin: -20px;
    background-color:white;
}

.credit{
    padding-top: 1%;
    font-size: 1vw;
}